@import '../../assets/scss/utils/colors';

.score {
  position: absolute;
  bottom: 80px;
  left: 80px;

  border: 1px solid $wiliam;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba($wiliam, 0.7);

  .player {
    position: relative;

    display: flex;

    height: 30px;

    align-items: center;

    .name {
      width: 120px;
      padding-left: 10px;
      &.winner {
        font-weight: 600;
      }
    }

    .sets {
      display: flex;

      height: 100%;
      margin-left: 20px;

      align-items: center;
      justify-content: center;
      justify-content: center;

      .set {
        display: flex;

        width: 25px;
        height: 100%;

        border-left: 1px solid rgba($ceramic, 0.3);

        align-items: center;
        justify-content: center;

        &.active {
          background-color: $wiliam;
        }

        &.win {
          font-weight: 600;
        }

        .tie-breack {
          font-size: 0.6em;
          font-weight: 300;

          margin-top: 5px;
          margin-left: 2px;

          align-self: flex-start;
        }
      }
    }

    .game {
      display: flex;

      width: 40px;
      height: 100%;

      border-left: 1px solid rgba($ceramic, 0.3);
      background-color: $big-stone;

      align-items: center;
      justify-content: center;
    }

    &.player-1 .game {
      border-top-right-radius: 5px;
    }

    &.player-2 .game {
      border-bottom-right-radius: 5px;
    }

    &.player-1.active::before,
    &.player-2.active::before {
      position: absolute;
      top: 10%;
      left: 0;

      width: 3px;
      height: 80%;

      content: '';

      background-color: $pewter;
    }
  }

  // Appearance of the score

  &.score-enter-active {
    left: -207px;

    transition: left 0.8s cubic-bezier(0.07,0.93,0.74,0.94);
    transition-delay: 0.5s;
  }

  &.score-enter-to {
    left: 80px;
    @media (max-width: 575px) {
      left: calc(50% - 103.5px);
    }
  }

  .testeur-enter-active {
    transition: opacity 1s;

    opacity: 0;
  }

  .testeur-enter-to {
    opacity: 1;
  }
}
