<transition name="create-game">
  <div v-if="!createGame" class="create-game">
    <!-- Player 1 -->
    <div class="player player-1">
      <div class="player-name">
        <label for="player-1">Joueur 1</label>
        <input type="text" id="player-1" v-model="player1">
      </div>
      <img src="@/assets/nadal.png" alt="Nadal">
    </div>
    <!-- Launch the game -->
    <button class="launch-game" @click="launch">Lancer la partie</button>
    <!-- Player 2 -->
    <div class="player player-2">
      <div class="player-name">
        <label for="player-2">Joueur 2</label>
        <input type="text" id="player-2" v-model="player2">
      </div>
      <img src="@/assets/federer.png" alt="Federer">
    </div>
  </div>
</transition>
